<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>menu.search</string>
		<key>entityName</key>
		<string>Event</string>
		<key>sortProperty</key>
		<string>date&amp;identifier</string>
		<key>cellIdentifier</key>
		<string>EventCell</string>
		<key>sortOrder</key>
		<false/>
		<key>showIdentifier</key>
		<string>showEvent</string>
	</dict>
</array>
</plist>
